<a href="https://colab.research.google.com/github/akshayamaujey/akshayamaujey/blob/main/pythoncsecode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write  a python program to create a class representing a circle. Include methods to calculate its area and perimeter.

In [7]:
class circle():

   def __init__(self,r):
    self.radius=r
   def area(self):
    return  self.radius**2*3.14
   def perimeter(self):
    return 2*3.14*self.radius
ncircle=circle(8)
print(ncircle.area())
print(ncircle.perimeter())

200.96
50.24

Q 14 Create the following Dataframe sales containing year wise sales figure for five sales person in INR. Use the years as column labels and sales person names as row labels

In [8]:
import pandas as pd
inr2014=[100.5, 150.6, 200.9, 3000, 5000]
inr2015=[1200, 1800, 2200, 5000, 6000]
inr2016=[2000, 5000, 4000, 7000, 8000]
inr2017=[4000, 5500, 6500, 8000, 10000]

label=['Ankit','Zanneen','Sumit','Akshada','Shruti']
dic={'2014':inr2014, '2015':inr2015, '2016':inr2016, '2017':inr2017}
Sales  = pd.DataFrame(dic,index=label)
print(Sales)

           2014  2015  2016   2017
Ankit     100.5  1200  2000   4000
Zanneen   150.6  1800  5000   5500
Sumit     200.9  2200  4000   6500
Akshada  3000.0  5000  7000   8000
Shruti   5000.0  6000  8000  10000

write a python function to sum all numbers in a list

In [24]:
def sum_all(numbers):
  total=0
  for x in numbers:
     total+= x
  return total
print(sum_all((2,3,4,5,6)))

20

In [19]:
def sum(numbers):
  total = 0
  for x in numbers:
      total += x
  return total
print(sum((8, 2, 3, 0, 7)))

20

In [18]:

def sum_list(numbers):
  total = 0
  for num in numbers:
    total += num
  return total

# Example usage
numbers = [1, 2, 3, 4, 5]
result = sum_list(numbers)
print(result)

15

 2.Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [28]:
def factorial(n):
  if n==0:
    return 1
  else:
     return n*(n-1)
n=int(input("enter the number for getting its factorial:"))
print(factorial(n))

enter the number for getting its factorial:0
1

Q 3 Write a Python program to print the even numbers from a given list

In [35]:
def even_no(l):
  enum=[]
  for n in l:
    if n % 2==0:
        enum.append(n)
  return enum
print(even_no([1,2,3,4,5,6,7,8,9]))

[2, 4, 6, 8]

Q4 Write a program to print the sum of items in  a  list.

In [38]:
def sumlist(list):
  sum=0
  for i in range(len(list)):
    sum=sum+list[i]
  return sum
list=[1,2,3,4,5,6,7,8,9]
print(list)
print(sumlist(list))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
45